<%- include('./partials/header.ejs') %>
<body>
<section id="principal" class="font-montserrat_ss">
<%- include('./partials/nav/navigation.ejs') %>
    <h2>Add Games page works!</h2>
</section>
</body>
<%- include('./partials/footer.ejs') %>