<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/nav/navigation.ejs') %>
<section id="principal" class="contaniner h-100">
<h2>Home page works!</h2>
</section>
</body>
<%- include('./partials/footer.ejs') %>
