<%- include('../header.ejs') %>
<nav class="navbar navbar-dark bg-dark">
    <h1 class="text-light">ExpressGames</h1>
    <div>    
        <a href="/" class="navbar-brand mx-auto">Home</a>
        <b class="text-light">/</b>
        <a href="/addgames" class="navbar-brand mx-auto">Add Games</a>
    </div>
</nav>